*{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}
body{
    --white: hsl(0, 0%, 100%);
    --black: hsl(240, 15%, 9%);
    --paragraph: hsl(0, 0%, 83%);
    --line: hsl(240, 9%, 17%);
    --primary: hsl(266, 92%, 58%);
    background-color: hsla(240, 15%, 9%, 1);
    background-image: radial-gradient(
        at 88% 40%,
        hsla(240, 15%, 9%, 1) 0px,
        transparent 85%
      ),
      radial-gradient(at 49% 30%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
      radial-gradient(at 14% 26%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
      radial-gradient(at 0% 64%, hsla(263, 93%, 56%, 1) 0px, transparent 85%),
      radial-gradient(at 41% 94%, hsla(284, 100%, 84%, 1) 0px, transparent 85%),
      radial-gradient(at 100% 99%, hsla(306, 100%, 57%, 1) 0px, transparent 85%);
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding:5px;
    margin:5px;
    color:ghostwhite;
}
.my-img{
    width:97%;
    height:100%;
    border-radius: 5px;
}
.profile{
    position: absolute;
    margin-top: 50px;
    top:30;
    right:0;
    padding:30px;
}
.profile-img {
    position: relative;
    width: 190px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .profile-img::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 200px;
    height: 264px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .profile-img::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  .profile-img:hover::after {
    filter: blur(30px);
  }
  
  .profile-img:hover::before {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
  }
  
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: ghostwhite;
}
nav{
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

nav .menu-icon{
    display: flex;
    gap: 20px;
    
}
.menu-icon>div{
    padding:5px;
    border:1px solid hsl(266, 92%, 58%);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
.menu-icon>div:hover{
    background-color: ghostwhite;
    box-shadow: 0 0 10px hsl(266, 92%, 58%);
}
.menu-icon>div>a:hover{
    color:hsl(266, 92%, 58%);
}
.portfolio-name{
    font-size: 1.5rem;
    font-weight: 700;
    color: hsla(284, 100%, 84%, 1);
}
.contact{
    margin:10px;
    display: flex;
    justify-content:space-between;
    align-items: center;

}
.social-icon{
    width: 30px;
    height: 30px;
    padding: 10px;
}
.social-icon:hover{
    transform: scale(1.2);
}
.social-icons:hover{
    transform: scale(1.2);

}
.social-icons{
    width: 50px;
    height:30px;
    padding:10px;
}
.heading>p{
    font-size: 1.5rem;
    font-weight: 700;
    color: hsla(284, 100%, 84%, 1);
}
.heading{
    display: flex;
    justify-content: space-between;
}
.container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin:50px;
    padding: 50px;
}
.container>div{
    background-image: linear-gradient(#5B42F2 0%,#00DDEB 100%);
    background-size: cover;
    -webkit-background-clip: text;
    font-weight: bolder;
    background-clip: text;
    color: transparent;
    margin: 20px;
}
.container>div{
    font-size: 4rem;
}
#about{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin:20px;
    padding: 10px;
}
.about-heading,.about-text>p{
    line-height: 2.0;
   color:ghostwhite;
}
.about-text>p{
    font-size: 1.5rem;
}
.about-heading,.projects-heading{
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size:2rem;
    margin-top: 20px;
    text-align: center;
    font-weight: 700;
}
#skills{
    display: flex;
    justify-content: space-around;
    margin:20px;
    padding: 10px;
}
.web-skills-content,.programming-skills-content{
    display: flex;
    justify-content: space-around;
    margin:20px;
    padding: 10px;
}
.skills-img{
    width: 100px;
    height: 100px;
    padding: 10px;
}
.project-image{
    width: 270px;
    height: 250px;
    padding: 10px;
    border-radius: 17px;
}
.project-image:hover,.skills-img:hover{
    transform: scale(1.2);
    box-shadow: 0 0 10px hsl(266, 92%, 58%);
    outline: 1px solid hsl(0, 0%, 83%);
}
.web-skills-heading,.programming-skills-heading,.project-heading{
    background-image: linear-gradient(#5B42F2 0%,#00DDEB 100%);
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size:2rem;
    text-align: center;
}
.web-skills,.programming-skills,.projects-content{
    display: flex;
    flex-direction: column;
    border:1px solid #00dbde;
    border-radius: 17px;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}
#projects{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 25px;
}
.projectsdata{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding:0 100px 0 100px;
}
.projects-content:hover{
    box-shadow: 0px 15px 60px #00FF7F;
    outline: 1px solid #2b9962;
    border-radius: 10px;
}
.project-details{
    text-align: justify;
    line-height: 2.0;
}
.portfolio-name{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
.download-cv {
    --clr-font-main: hsla(0 0% 20% / 100);
    --btn-bg-1: hsla(194 100% 69% / 1);
    --btn-bg-2: hsla(217 100% 56% / 1);
    --btn-bg-color: hsla(360 100% 100% / 1);
    --radii: 0.5em;
    cursor: pointer;
    padding: 0.9em 1.4em;
    min-width: 120px;
    min-height: 44px;
    font-size: var(--size, 1rem);
    font-weight: 500;
    transition: 0.8s;
    background-size: 280% auto;
    background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
    border: none;
    border-radius: var(--radii);
    color: var(--btn-bg-color);
    font-family: "Rubik", sans-serif;
    box-shadow: 0px 0px 20px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px rgba(175, 230, 255, 0.5), inset -4px -4px 8px rgba(19, 95, 216, 0.35);
    align-items: center;
  }
  .download{
    margin-left: 40px;
    align-items: center;
    display: flex;
  }
  #projects{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 25px;
  }
  @media(max-width:990px){
    .heading,.container{
        flex-direction: column;
        font-size: large;
        padding:0;
        margin:0;
        margin-top:20px;
    }
    .profile{
        position: relative;
        display: flex;
        align-items: center;
    }
    .contact{
        flex-grow: 1;
    }
    #skills{
        flex-direction: column;
    }
    .projectsdata{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows:repeat(3,1fr);
        padding:0;
    }
  }
  @media(max-width:600px){
    #projects{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        gap: 25px;
    }
    .profile{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .projectsdata{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows:repeat(6,1fr);
        padding:0;
    }
  }